.details-container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-evenly;

	margin: auto;
	width: 40%;
	height: 70%;
	padding: 0.5rem 1rem;
	/* background-color: #f4f2de; */
	background-color: #26262a;
	border-radius: 5rem;
	box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}

.detail-img > img {
	width: 70%;
}

.detail-img {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 2px solid #fff;
}

.stats-container {
	width: 50%;
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.text-details {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.text-details > h1 {
	font-size: 2rem;
	color: #fff;
	text-transform: capitalize;
}

.stat-total {
	width: 50%;
	background-color: #fff;
	border-radius: 100px;
	height: 8px;
	margin-bottom: 15px;
}

.stat {
	border-radius: inherit;
	height: 100%;
	background-color: #ff4742;
}

.label-detail {
	color: #fff;
}

.bug {
	background-color: #8bd674;
}

.dark {
	background-color: #75747e;
}

.dragon {
	background-color: #1582e7;
}

.electric {
	background-color: #f2cb55;
}

.fairy {
	background-color: #e98acc;
}

.fighting {
	background-color: #eb4971;
}

.fire {
	background-color: #ff9448;
}

.flying {
	background-color: #829edb;
}

.ghost {
	background-color: #6882d4;
}

.grass {
	background-color: #8bbe8a;
}

.ground {
	background-color: #f78551;
}

.ice {
	background-color: #6bddce;
}

.normal {
	background-color: #c5c9d6;
}

.poison {
	background-color: #bd5fe9;
}

.psychic {
	background-color: #ff787a;
}

.rock {
	background-color: #d5c895;
}

.steel {
	background-color: #4d92b4;
}

.water {
	background-color: #58abf6;
}

@media (max-width: 700px) {
	.details-container {
		width: 90%;
		height: 90%;
		font-size: small;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row-reverse;
		margin-right: 20px;
	}
	.detail-img {
		width: 100%;
	}
	.detail-img > img {
		width: 50%;
	}
	.stats-container {
		width: 50%;
		height: 100%;
	}
	.text-details {
		width: 100%;
	}
	.text-details > h1 {
		font-size: 1.5rem;
	}
	.stat-total {
		width: 100%;
	}
	.stat {
		width: 100%;
	}
	.label-detail {
		font-size: 0.8rem;
	}
}
