.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
	gap: 6px;
}

.pagination > span {
	margin: 0 10px;
	color: #fff;
}

.active {
	color: red;
	border-radius: 8px;
}
