.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
}

.pagination > span {
	margin: 0 10px;
	color: #fff;
}

.active {
	background-color: #fff;
	color: #000;
	border: 2px solid #000;
}
