.main {
	display: flex;
	/* flex-wrap: wrap; */
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 600px;
	gap: 5px;
}

.title {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50%;
	gap: 1rem;
	width: 100%;
}

.title-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title-container > h1 {
	text-transform: capitalize;
}

.title-container > p {
	color: #fff;
	width: 650px;
	font-size: 1.5rem;
	line-height: 1.5;
	text-align: center;
	margin-top: 0px;
}

.title-img > img {
	border-radius: 50px;
}

.context {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	height: 50%;
	width: 50%;
	border-radius: 50px;
	margin-bottom: 10px;
	background-color: #26262a;
}

.context > h1 {
	margin: 60px 0 10px 0;
}

h1,
p {
	color: #fff;
}

.start {
	/* background-color: #16ff00;
	color: #000; */

	display: inline-block;
	outline: 0;
	cursor: pointer;
	border: none;
	padding: 0 56px;
	height: 45px;
	line-height: 45px;
	border-radius: 7px;
	background-color: #ff4742;
	color: white;
	font-weight: 400;
	font-size: 16px;
	box-shadow: 0 4px 14px 0 rgba(161, 40, 40, 0.39);
	transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

.start:hover {
	background: #f3bf00;
	box-shadow: 0 6px 20px rgba(231, 205, 62, 0.23);
}

@media (max-width: 700px) {
	.main {
		height: 100%;
		font-size: small;
	}
	.title {
		height: 50%;
		font-size: small;
	}
	.title-container > h1 {
		height: 100%;
		font-size: medium;
		text-align: center;
	}
	.title-container > p {
		width: 100%;
		font-size: small;
		flex-direction: column;
	}
	.title-img > img {
		display: none;
	}
	.context {
		margin-top: 100px;
		height: 50%;
		width: 80%;
	}
	.context > h1 {
		margin: 10px 0 10px 0;
		font-size: small;
	}
	.start {
		margin: 10px 0 10px 0;
	}
}
